/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss' as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
}

router-outlet + * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.h-full {
  height: 100%;
}

// body {
//   background-color: #111827; /* This is the Tailwind bg-gray-900 equivalent */
//   color: white;
//   min-height: 100vh;
//   margin: 0;
//   padding: 0;
// }
